@model IEnumerable<Models.Base.ShowModel>;


@{
    ViewBag.Title = "Shows";
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>@ViewData["Title"]</title>
    <p>@Html.ActionLink("Add Show", "Add")</p>
    <p>@Html.ActionLink("Find by Author", "FindByAuthor")</p>
     <p>@Html.ActionLink("Find by Genre", "FindByGenre")</p>
</head>
<body>
<h3>Shows</h3>
    <table>
        <tr>
            <td>Name</td>
            <td>Date</td>
            <td></td>
        </tr>
        @foreach (var showModel in Model)
            {
            <tr>
                <td>@showModel.Name</td>
                <td>@showModel.Date.ToString("yyyy-MM-dd")</td>
                <td>@Html.ActionLink("Author", "Info", "Authors", 
                        new{id =@showModel.AuthorId} )</td>
                <td>@Html.ActionLink("Genre", "Info", "Genres", 
                        new {id =@showModel.GenreId} ) <td/>
                <td>
                    @Html.ActionLink("Add Tickets", "AddTickets", new {showId =@showModel.Id})
                </td>
                <td>
                    @Html.ActionLink("Buy Ticket", "TicketInfo", new {showId = @showModel.Id, 
                        nextAction = "BuyTicket"})
                </td>
                <td>
                    @Html.ActionLink("Book Ticket", "TicketInfo", new {showId = @showModel.Id, 
                        nextAction = "BookTicket"})
                </td>

                <td>
                    <form method="post">
                        <button asp-action="Delete" asp-route-id="@showModel.Id">
                            Delete
                        </button>
                    </form>
                </td>
            </tr>
        }
    </table>
</body>
</html>
