@model IEnumerable<Models.Base.AuthorModel>
@{
    ViewData["Title"] = "Authors";
}
<!DOCTYPE html>

<html>
<head>
    <title>@ViewData["Title"]</title>
    <p>@Html.ActionLink("Add Author", "Add")</p>
</head>
<body>
<h3>Authors</h3>
    <table>
        <tr>
            <td>Name</td>
            <td>Surname</td>
            <td></td>
        </tr>
        @foreach (var author in Model)
            {
            <tr>
                <td>@author.FirstName</td>
                <td>@author.LastName</td>
                <td>
                    <form method="post">
                        <button asp-action="Delete" asp-route-id="@author.Id">
                            Delete
                        </button>
                    </form>
                </td>
                <td></td>
            </tr>
        }
    </table>
</body>
</html>