@model IEnumerable<Models.Base.ShowModel>;
@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>

<html>
<head>
    <title>@ViewData["Title"]</title>
    <p> Our latest shows</p>
</head>
<body>
<h3>Shows</h3>
<table>
    <tr>
        <td>Name</td>
        <td>Date</td>
        <td></td>
    </tr>
    @foreach (var showModel in Model)
    {
        <tr>
            <td>@showModel.Name</td>
            <td>@showModel.Date.ToString("yyyy-MM-dd")</td>

            <td>
                @Html.ActionLink("Buy Ticket", "TicketInfo","Shows", new {showId = @showModel.Id, 
                    nextAction = "BuyTicket"})
            </td>
            <td>
                @Html.ActionLink("Book Ticket", "TicketInfo","Shows", new {showId = @showModel.Id, 
                    nextAction = "BookTicket"})
            </td>
        </tr>
    }
</table>
</body>
</html>